td{
    text-align: left;
    border-style:dotted; 
    border-top: none;
    border-right: none;
}
th{
    background-color: brown;    
}
td{
    border-right: none;
}
tr:nth-child(odd){
    background-color: cyan;
}
td:first-child{
    font-weight: bold;
    border-left: none;
}
tr:hover{
    background-color: chartreuse;
}   