ul{
    list-style-image: url(../Image/logo-list.jpg);
}
li:hover a:first-child{
    background-image: url(../Image/logo-doc.jpg);
    background-repeat: no-repeat;
    position: absolute;
    left: 200px;
    z-index: 1;
}




