ul{
    list-style-image: url(../Image/logo-list.jpg);
}
.ms:hover::after{
    content: url(../Image/logo-doc.jpg);
}
.pdf:hover::after{
    content: url(../Image/logo-pdf.png);
}
.zip:hover::after{
    content: url(../Image/logo-zip.gif);
}