table{
    counter-reset: mycounter 65;
    border: solid 5px black;
    border-collapse: collapse;
    background-color: rgb(243, 243, 221);
}
td{
    width: 100px;
    height: 100px;
    font-size: 5em;
    text-align: center;
}
tr:nth-child(odd) td:nth-child(even){
    background-color: black;
    color: white;
}
tr:nth-child(even) td:nth-child(odd){
    background-color: black;
    color: white;
}
td::before{
    counter-increment: mycounter -1;
    content: counter(mycounter);
}
